{% extends 'layout.html' %}

{% block head %}
    About
{% endblock head %}

{% block body %}
    <section class="white-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 section-layout">
                    <h2>We deliver you the latest fashion!</h2>
                </div>
                <div class="col-md-6 section-layout">
                    <img class="about-tee-image" src="static/abouttee.jpg" alt="white t-shirt">
                </div>
            </div>
        </div>
    </section>
    <section class="colored-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 section-layout">
                    <img class="shopping-cart-image" src="static/e-cart.png" alt="shopping cart">
                </div>
                <div class="col-md-6 section-layout">
                    <h2>We are an e-comm clothing store.</h2>
                </div>
            </div>

        </div>
    </section>
    <section class="white-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <h2>Contact Us</h2>
                </div>
                <div class="col-md-6">
                    <address>
                        Visit us at:<br>
                        This is our sample address, At sample city<br>
                        In sample country
                    </address>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <p>Write to us by clicking here 👉 <a href="mailto:deepankchauhan99@gmail.com" style="text-decoration: none;">📧</a>.</p>
                </div>
            </div>
            
            <div class="container-fluid footer">
                <p>© Copyright 2021 The Clothing Store</p>
            </div>
        </div>
    </section>
{% endblock body %}